# Virtual Environment
venv/

# Datasets and Models
data/
models/
*.pth
*.h5
*.pkl
*.joblib

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# Python environment
venv/
__pycache__/
*.pyc

# Data & Models (Large files)
data/
models/
.env